<div class="container" style="margin-top:10px;">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h1>Contact</h1>

      <p>If you're interested in posting a job, email me at the following address:</p>

      <p class="lead">wurkies at gmail dot com</p>
    </div>
  </div>
</div>